#detail_login {
    padding-top: 107px;
    padding-bottom: 107px;
}
#end_login{
    background: hsl(217, 71%, 53%);
    color: aliceblue;
    padding: 50px;
    width: 100%;
    bottom: 0;
    position: absolute;
}
#hide {
    position: absolute;
    right: 0;
}